$portfollioBlue: #6495ED;
$teaGreen: #DCF2B0;
$davyGray: #474647;
$roseBonbon: #EB4B98;
$white: #FBFCFF;

body {
    margin: 0;
    padding: 0;
    background-color: $portfollioBlue;
    font-size: x-large;
}

#errorMessage {
    color: $roseBonbon;
}

a {
    text-decoration: none;
    color: $davyGray;
}

input {
    padding: 0.5%;
    border: none;
    border-radius: 15%;
    background-color: $teaGreen;
}

button {
    padding: 0.5% 1%;
    border: none;
    background-color: $roseBonbon;
    color: $davyGray;
    font-weight: bold;
}

.main-content {
    margin: inherit;
    padding: 4% 1%;
    text-align: center;
}

nav {
    #logo, ul {
        margin: 1% 0;
    }

    #logo {
        float: left;
        color: $davyGray;
    }

    ul {
        float: right;

        li {
            list-style-type: none;
            display: inline-block;
            padding: 0 10px;
        }
    }
}

//To Do List
#toDoList {
    margin-top: 2%;

    .item {
        border: solid black 2px;
        width: 30%;
        padding: 1%;
        margin: auto;
        text-align: left;
        &:not(:last-child) {
            margin-bottom: 2%;
        }

        .text {
            width: 80%;
        }

        button {
            float: right;
            padding: 3%;
            margin-top: -8%;
        }
    }
}